*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.Chart{
    /* border: 2px solid red; */
    width: 100vw;
    height: 70vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 10px;
    /* padding: 10px; */
    align-items: flex-end;
}
.Chart_item{
    width: 100%;
    background-color: blue;
    border-radius: 20px;
}